<!-- complaints/templates/complaints/dashboard.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Dashboard</h1>
    <p>Total Complaints: {{ total_complaints }}</p>
    <p>Solved Complaints: {{ solved_complaints }}</p>
    <p>Unresolved Complaints: {{ unresolved_complaints }}</p>
    <p>Complaints Today: {{ complaints_per_day }}</p>
    <a href="{% url 'complaint_list' %}" class="btn btn-info">View Complaints</a>
    <a href="{% url 'file_complaint' %}" class="btn btn-primary">File a Complaint</a>
{% endblock %}
